<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behavior='messages'>
  <% 1.upto(1000) do %>
    <div><strong>storrence88:</strong> Hello, World!</div>
  <% end %>
</div>

<%= simple_form_for [@chatroom, Message.new] do |f| %>
  <%= f.input :body, label: false, input_html: { rows: 1, autofocus: true } %>
<% end %>
