<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behavior='messages'>
  <% @messages.each do |message| %>
    <%= render message %>
  <% end %>
</div>

<%= form_with(model: [@chatroom, Message.new], id: 'message-input') do |f| %>
  <%= text_field(:message, :body, rows: 1, autofocus: true, class: 'form-control')  %>
<% end %>
